.customer-key-features {
	.accordion-btn-title {
		font-family: $wisconsin-font-title;
		font-size: 20px;
		font-weight: 400;
	}
	.accordion-content {
		color: #4d4d4d;
		font-family: 'Open Sans';
		font-size: 16px;
		max-width: 580px;
	}
	.accordion-row {
		margin-bottom: 60px;
	}
}
